@import '~pico-css/dist/pico.min.css';


html body {
    border-radius: 8px;
}

body {
    width: 500px;
}

h1 {
    margin-bottom: 24px;
}

li, input, label {
    font-size: 13.5px;
}

input:not([type=checkbox],[type=radio],[type=range]) {
    height: 40px;
    padding: 8px;
}

button {
    height: 40px;
    font-size: 13.5px;
    font-weight: 600;
    padding: 0;
}

.time-not-found-message {
    color: rgb(211, 67, 67);
}

.undecorated-list-item {
    list-style-type: none;
}